* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Hind', sans-serif;
    color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0 1.5rem;
}


.fega-main-container {
    max-width: 886px;
    width: 100%;
    height: 587px;
    background: #F4F4F4;
    color: #000000;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1.5rem;
}

@media screen and (max-width: 567px) {
    .fega-main-container {
        height: 500px;
    }
}

/* To get the second theme;
this is the only styling it needs */
.fega-main-container.dark-theme {
    background: #07223E;
    color: #ffffff;
}
/* ================================== */

.fega-content-container {
    max-width: 300px;
    width: 100%;
    text-align: center;
}

.fega-content-container h1 {
    font-size: 1.5rem;
}

.fega-content-container p {
    margin-top: .5rem;
    font-size: 1rem;
    font-weight: 500;
}


.auth-btns {
    margin-top: 2.5rem;
    position: relative;
    z-index: 1;
}

.auth-btns button {
    border: none;
    outline: none;
    width: 100%;
    height: 40px;
    border-radius: 3px;
    font-weight: 500;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth-btns button svg {
    margin-right: .25rem;
}

.auth-btns button:hover {
    opacity: .7;
}

.auth-btns button.google-btn {
    background: #FFFFFF;
    color: #656565;
    border: 1px solid #656565;
}

.auth-btns button.facebook-btn {
    background: #385C8E;
    color: #ffffff;
}

p.demarcation-or {
    color: #c4c4c4;
    padding: 1.2rem 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.demarcation-or::before, .demarcation-or::after {
    content: "";
    display: inline-block;
    width: 135px;
    border: .65px solid #C4C4C4;
}

@media screen and (max-width: 567px) {
    .demarcation-or::before, .demarcation-or::after {
        width: 100px;
    }
}
a.f {

color: white;
}
a {
  text-decoration: none;
text-decoration-color: white;
}
