body {
    margin: 0px;
}
.header {
    height: 30px;
    width: 100%;
    background-color: #041D36;
}

.footer {
    height: 30px;
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;
    margin-bottom: 1rem;
}

.mainContainer {
    display: flex;
    flex-wrap: wrap;
}

.sidebar {
    width: 30%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1em;
    justify-content: space-between;
    text-align: center;
}

.main {
    width: 69%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 1em;
    padding-left: 1em;
}

.profileImage {
    border-radius: 50%
}

.postInput-label {
    color: #828282;
}

.postInput {
    height: 50px;
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 2px solid #828282;
    margin-bottom: 1rem;
}
.post {
    display: flex;
    margin-top: 2em;
}

.postDetails {
    margin-left: 1em;
    max-width: 50%;
}

.socialIcons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
}

.postIcons {
    display: flex;
    justify-content: space-evenly;
}

.postIcons > i {
    margin-right: 1rem;
}

.createPost {
    width: 63%;
    background-color: #F2F2F2;
    padding: 1rem;
    border-radius: 1%;
    margin-bottom: 1rem;
}

.postInput-footer {
    display: flex;
    justify-content: space-between;
}

.postButton {
    background-color: #06223E;
    color: #FFF;
    border-radius: 5%;
    font-size: 1rem;
    width: 10%;
}

hr {
    display: inline-block;
    width: 48%;
}

.sort {
    font-weight: 600;
}

.postFooter{
    display: flex;
    justify-content: space-between
}

.postActions {
    display: flex;
}

.postActions:first-child {
    margin-right: 1rem;
}

.postDate {
    font-weight: 800;
}

.profileInfo {
    max-width: 50%;
    margin-left: 130px;
}

/* .profileAbout {
    text-decoration: 
} */

.morePosts {
    background: none;
    border: none;
    width: 63%;
    margin-top: 1rem;
}