* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
}
.main-content {
  width: 85%;
  margin: auto;
}
.submit-btn,
.draft-btn {
  cursor: pointer;
  color: #ffffff;
  background: #3667e7;
  border: 1px solid #3667e7;
  padding: 0.8rem 1rem;
  border-radius: 4px;
  font-size: 1.2rem;
  margin-left: 10px;
  margin-top: 20px;
}
.cancel-btn {
  cursor: pointer;
  color: #f14336;
  background: transparent;
  border: 1px solid #f14336;
  padding: 0.8rem 1rem;
  border-radius: 4px;
  font-size: 1.2rem;
  margin-top: 20px;
}
.action-btns {
  display: flex;
  justify-content: flex-end;
}
/* toggle dark mode class for body with JS */
.dark {
  color: #ffffff;
  background: #04274c;
}
