* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
}
.main-content {
  width: 85%;
  margin: 7vh auto 0;
}
.post-title {
  font-size: 1.2rem;
  padding: 0.6rem;
  width: 100%;
  margin-bottom: 12px;
  border-radius: 4px;
  border: 0;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px 1px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px 1px rgba(0, 0, 0, 0.16);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px 1px rgba(0, 0, 0, 0.16);
}
.fr-wrapper {
  /*main froala editor*/
  height: 45vh;
}
.submit-btn {
  cursor: pointer;
  color: #ffffff;
  background: #3667e7;
  border: 1px solid #3667e7;
  padding: 0.8rem 1rem;
  border-radius: 4px;
  font-size: 1.2rem;
  margin-left: 10px;
  margin-top: 20px;
}
.cancel-btn {
  cursor: pointer;
  color: #ffffff;
  background: #07223e;
  border: 1px solid #07223e;
  padding: 0.8rem 1rem;
  border-radius: 4px;
  font-size: 1.2rem;
  margin-top: 20px;
}
.action-btns {
  display: flex;
  justify-content: flex-end;
}
/* toggle dark mode class for body with JS */
.dark {
  color: #ffffff;
  background: #04274c;
}

/* responsive media queries */
@media screen and (max-width: 768px) {
  body {
    font-size: 1.1rem;
  }
  .main-content {
    width: 75%;
  }
  .submit-btn {
    padding: 0.4rem 0.6rem;
  }
  .cancel-btn {
    padding: 0.4rem 0.6rem;
  }
  .fr-quick-insert {
    padding-right: 0;
  }
}

@media screen and (min-width: 768px) {
  .post-title {
    font-size: 1.7rem;
    padding: 0.8rem;
  }
}
