html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #fff;
  cursor: default;
}
ul,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}
a:hover {
  text-decoration: none;
  color: inherit;
}

.landing-page-container {
  margin-left: 1.9rem !important;
}
.landing-page-head {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: normal;
  text-decoration-line: underline;

  color: #3667e7;
  margin-top: 30px;
  margin-bottom: 60px;
}


.landing-page-head a:hover {
  text-decoration: none;
  color: inherit;
}

.landing-page-greeting {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: normal;

  color: #3667e7;
  margin-top: 60px;
}


.landing-page-main-header {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 144px;
  color: #3667e7;
  margin-bottom: 12px;
  border-bottom: 4px solid #3667e7;
}

.landing-page-info {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 1.1rem;
  line-height: normal;


  color: #3667e7;
  margin-top: 9px;

}

.landing-page-btn {
  transition: 0.3s;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: normal;
  text-align: center;

  color: #ffffff;

  border-radius: 4px;
  border: 1px solid #3667e7;
  background: #3667e7;
  box-shadow: 0px 4px 15px rgba(54, 104, 231, 0.342);
  border-radius: 5px;
  padding: 10px 20px;
  margin-bottom: 40px;
  margin-left: 100px;
  cursor: pointer;
}
.landing-page-btn:hover {
  transition: 0.3s;
  color: #3667e7;
  background: #ffffff;
  box-shadow: none;
}

@media (max-width: 1439px) {
  .landing-page-main-header {
    font-size: 100px;
  }
}

