:root {
  --bg-color: #fff;
  --default-text-color: black;
  --profile-bg-color: rgba(243, 243, 243, 0.62);
  --horizontal-line-color: rgba(0, 0, 0, 0.3);
  --blog-item-shadow-color: rgba(0, 0, 0, 0.12);
  --blog-item-bg-color: #f8f8f8;
  --blog-author-color: #3667e7; // looks clickable, need diff color
  --blog-author-avatar-border-color: rgba(0, 0, 0, 0.5);
  --blog-item-tag-bg-color: #aecdee;
  --blog-item-tag-text-color: black;
  --blog-item-read-more-link-color: #3667e7; // should be a reusable link color
  --post-section-bg-color: #f8f8f8;
  --post-text-color: #555;
  --post-publish-btn-bg-color: #3869df;
  --post-publish-btn-text-color: white;
  --post-filter-text-color: #333;
  --theme-change-transition-duration: 0.3s;
  --theme-change-timing-function: ease;
}

.dark {
  --bg-color: #06223d;
  --default-text-color: white;
  --profile-bg-color: #04284a;
  --horizontal-line-color: white;
  --blog-item-bg-color: #04284a;

  /* no change for now */
  --blog-item-shadow-color: rgba(0, 0, 0, 0.12);

  --blog-author-color: #aaa;

  /* no changes for now */
  --blog-author-avatar-border-color: rgba(0, 0, 0, 0.5);
  --blog-item-tag-bg-color: #aecdee;
  --blog-item-tag-text-color: black;

  --blog-item-read-more-link-color: #a8b8e2;
  --post-section-bg-color: #04284a;
  --post-text-color: #fff;

  /* need something lighter */
  --post-publish-btn-bg-color: #3869df;

  /* need something darker? */
  --post-publish-btn-text-color: white;

  --post-filter-text-color: white;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: var(--bg-color);
  color: var(--default-text-color);
  transition: background-color var(--theme-change-transition-duration)
      var(--theme-change-timing-function),
    color var(--theme-change-transition-duration)
      var(--theme-change-timing-function);
}
ul,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}

.header-img {
  width: 100%;
  height: 340px;
}

.profile-section {
  background-color: var(--profile-bg-color);
}

.profile-img-wrapper {
  position: absolute;
  top: -120px;
  margin-bottom: -120px;
}
.profile-img {
  /*position: absolute;
    top: -113px;
    margin-bottom: 113px;*/

  border-radius: 50%;
  max-width: 230px;
  height: 230px;
}

.profile-main {
  margin-top: 100px;
}

.profile-name {
  font-family: 'Open Sans', sans-serif;
  /*font-family: Open Sans;*/
  font-style: normal;
  font-weight: bold;
  font-size: 36.25px;
  line-height: normal;
  text-align: center;
  letter-spacing: -0.04em;
  margin-bottom: 6px;
}

.profile-technologies {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: normal;
  text-align: center;
  margin-top: 6px;
  margin-bottom: 16px;
}
.profile-motto {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: normal;
  text-align: center;
  margin-top: 16px;
  margin-bottom: 24px;
}

.profile-social-wrapper {
  margin-top: 24px;
}

.profile-social-icon {
  margin: 0 12px;
}
.profile-social-icon:first-child {
  margin-left: 0;
}

.profile-social-icon:last-child {
  margin-right: 0;
}

.menu-wrapper {
  margin: 68px 0;
}

.menu-item {
  margin: 15px 0;
}

.line {
  width: 50%;
  height: 1px;
  background-color: var(--horizontal-line-color);
}

.blog-item-wrapper {
  margin: 10px 0;
}
.blog-item-wrapper:first-child {
  margin-top: 32px;
}
.blog-item {
  width: 100%;
}

.blog-item-main {
  background-color: var(--blog-item-bg-color);
  box-shadow: 0px 4px 13px var(--blog-item-shadow-color);
  border-radius: 11px;
  margin-right: 45px;
}

.blog-item-main-content {
  margin-left: 40px;
  margin-right: 20px;
}

.blog-item-img {
  border-radius: 11px;
  width: inherit;
  height: 165px;
}

.blog-item-img-wrapper {
  width: 230px;
  margin: 22px 24px;
}

.blog-item-header {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: normal;
  margin-top: 15px;
}

.blog-item-author {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: normal;
  text-align: center;
  color: var(--blog-author-color);
}
.blog-item-author-avatar-wrapper {
  max-width: 50px;
}
.blog-item-author-avatar {
  border-radius: 50%;
  max-width: 50px;
  height: 40px;
  margin-right: 10px;
  border: 0.5px solid var(--blog-author-avatar-border-color);
}
.blog-item-content {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: normal;
  margin-bottom: 6px;
}

.blog-item-tag-wrapper {
  background-color: var(--blog-item-tag-bg-color);
  border-radius: 5px;
  margin: 6px 6px;
  padding: 5px 17px;
}
.blog-item-tag-wrapper:first-child {
  margin-left: 0;
}

.blog-item-tag-wrapper:last-child {
}

.blog-item-tag {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: normal;
  text-align: center;
  margin: 0;
  color: var(--blog-item-tag-text-color);
}

.blog-item-more_action {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: normal;
  text-align: center;
  text-decoration-line: underline;
  color: var(--blog-item-read-more-link-color);
}

.blog-item-date {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: normal;
  margin-top: 6px 0;
}

.blog-item-action {
  margin: 0 15px;
}
.blog-item-action:first-child {
  margin-left: 0;
}
.blog-item-action:last-child {
  margin-right: 0;
}

.post-section {
  min-height: 160px;
  background-color: var(--post-section-bg-color);
  padding: 18px 30px;
  margin-top: 47px;
  margin-left: 48px;
  margin-right: 45px;
  margin-bottom: 22px;
}

.post-input {
  background-color: transparent;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: normal;
  outline: 0;
  border: 0;
  padding: 5px;
  color: var(--post-text-color);
  resize: none;
}

.publish-btn {
  background-color: var(--post-publish-btn-bg-color);
  border-radius: 5px;
  height: 37px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: normal;
  text-align: center;
  color: var(--post-publish-btn-text-color);
  border-radius: 1px;
}

.post-action-right .post-action-item {
  margin: 0 11px;
}
.post-action-right .post-action-item:first-child {
  margin-left: 0;
}

.post-action-right .post-action-item:last-child {
  margin-right: 0;
}

.post-action-left .post-action-item {
  margin: 0 11px;
}
.post-action-left .post-action-item:first-child {
  margin-left: 0;
}

.post-action-left .post-action-item:last-child {
  margin-right: 0;
}

.post-filter {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: normal;
  letter-spacing: -0.05em;

  color: var(--post-filter-text);
}

.post-filter-title {
  font-weight: normal;
}

@media (max-width: 1439px) {
  .header-img {
    height: 240px;
  }
}
