* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    color: #000000;
    height: 100vh;
    line-height:        normal;
    overflow-x:         hidden;
    letter-spacing:     .2px;
}

button {
    background-color: #3667E7;
    padding: .5rem;
    color: #ffffff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.motuns-main-container {
    /* display: flex */
    margin: 2rem;
}

.motuns-side-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}
.motuns-side-bar h3 {
    font-size: 25px;
    color: #3667E7;
    /* margin-top: 20px; */
    /* padding-left: 160px; */
}

.motuns-side-bar p {
    font-size: 24px;
}

.motuns-content-container {
    /* margin: 20px 3rem; */
    /* margin-top: 20px; */
    /* width: 75%; */
}
.motuns-content-container h2 {
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 4rem;
}
ul {
    list-style:     none;
    margin-top:     30px;
}

li {
    font-size: 24px;
    padding: 10px 0;
    padding-left: 160px;
}

form {
    margin-top: 4rem;
    width: 100%;
}

input {
    font-size: 14px;
    background-color: #F8F8F8;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: none;
    padding: 10px 10px;
    margin: 20px 0 35px 0;
    width: 100%;
}

.d-flx {
    display: flex;
    justify-content: space-between;
}

.avatar {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    width: 162px;
    height: 162px;
    margin: auto;
    margin-bottom: 1.5rem;
}

.d-grid {
    display: grid;
    text-align: center;
}

.co-red {
    color: red;
    /* font-size: 14px; */
}

.upcase {
    text-transform: uppercase;
    width: 100px;
    height: 45px;
    margin: 0 auto;
    /* margin-top: -1.5rem; */
}

.capitalize {
    text-transform: capitalize;
    width: 138px;
    height: 45px;
}

.en {
    background-color: #F7F7F7;
    text-transform: uppercase;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: .5rem;
}

.sub {
    font-size: 14px;
    margin-bottom: 2rem;
}

.drop {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #000000;
    margin-top: 1rem;
}

.toggle {
    background-color: #F7F7F7;
    display: inline-flex;
    width: 50px;
    border-radius: 50px;
}