/* Sidebar */

:root {
  --grey: #f8f8f8;
  --black: #000;
}
.profile-pic {
  border-radius: 50%;
  width: 232px;
  height: 232px;
  display: block;
  margin: 0 auto;
}

.personal-info > h1 {
  font-weight: bolder;
}

.skillset {
  font-size: 12px;
}
.shortbio {
  font-size: 11px;
}

.side-info {
  background-color: var(--grey);
}

.nav-link {
  color: var(--black);
  font-weight: 400;
}

.nav-link:hover {
  font-weight: bold;
  color: var(--black);
}

.sidebar-icons {
  width: 100%;
  color: var(--black);
}

.social {
  font-weight: bolder;
  font-size: 28px;
  padding-right: 14px;
  cursor: pointer;
}

/* Post Box */
.post-box {
  background-color: var(--grey);
}
.post-text {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  border: 0;
  background: var(--grey);
  outline: none;
  color: #cccccc;
  resize: none;
}
.post-box ::placeholder {
  color: #cccccc;
}
.post-text:focus {
  outline: none;
  background: var(--grey);
  border: 0;
}
.btn-publish {
  background: var(--blue);
  color: white;
  font-weight: bold;
}
