html,
body {
    height: 100%;
    /*setting this explicitly is important*/
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

ul {
    width: 100%;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    margin: 0;
    font-family: Hind, sans-serif;
    color: #222;
    font-size: 0.9em;
}

main {
    flex: 1 0 auto;
    /*fill the available space*/
    display: flex;

}

aside {
    flex: 0 0 20vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #F8F8F8;
    height: 100%;
}

aside h1 {
    font-size: 1.5rem;
    flex: 1 1 0;
    margin: 3rem;
    color: #3667E7;

}

.header h2 {
    font-size: 1.5rem;
}

.buttons {
    margin-top: 20px;
}

.unread {
    background: #3667E7;
    border-radius: 5px;
    color: #fff;
    padding: 6px 27px 6px 27px;
}

.unsub {
    border: 1px solid #DC706A;
    border-radius: 5px;
    padding: 5px 26px 5px 26px;
    color: #DC706A;
}

a.sub_cat.active {
    background: #EDEDED;
}

/*font size for the icons*/
aside i.fa {
    font-size: 0.9em;
}

.sub_cat {
    padding: 3%;
    display: flex;
}

.sub_cat img {
    margin-right: 10px;
    margin-left: 4%;
}

.sub_cat i {
    margin-right: 10px;
}

.bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 3 1 0;
}

.news_category {
    flex: 9 1 0;
    display: flex;
    flex-direction: column;
}

.news_category i {
    font-size: 1.5em;
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2%;
    height: 100%;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex: 1 1 0;
}

.the_news i {
    font-size: 0.5em;
    color: #B12A1F;
}

.the_news {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: white;
    margin: 10px;
    padding: 2%;
    border-radius: 10px;
    box-shadow: 4px 5px 9px 2px rgba(0, 0, 0, 0.1);
}

.the_news i {
    margin-right: 10px;
}

.time {
    color: #666;
    font-size: 0.7rem;
}