* {
  box-sizing: border-box;
}
body {
  margin: 0px;
}
.header {
  height: 30px;
  width: 100%;
  background-color: #041d36;
}

.footer {
  height: 30px;
  width: 100%;
  text-align: center;
  bottom: 0;
  margin-bottom: 1rem;
}

.mainContainer {
  display: flex;
}

.sidebar {
  width: 28%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1em;
  justify-content: space-between;
  text-align: center;
}

.main {
  width: 68%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 1em;
  padding-left: 1em;
}

.profileImage {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.postInput-label {
  color: #828282;
}

.postInput {
  height: 50px;
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 2px solid #828282;
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-size: 1.2rem;
}
.post {
  display: flex;
  margin-top: 2em;
}

.postDetails {
  margin-left: 1em;
  max-width: 50%;
}

.postDetails > h1 {
  margin-bottom: 0;
}

.postDetails > h3 {
  margin-top: 0;
}

.socialIcons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1rem;
}
.socialIcons a,
.socialIcons a:active,
.socialIcons a:hover:visited {
  color: #000000;
}
.postIcons {
  display: flex;
  justify-content: space-evenly;
}

.postIcons > i {
  margin-right: 1rem;
}

.createPost {
  width: 63%;
  background-color: #f2f2f2;
  padding: 1rem;
  border-radius: 1%;
  margin-bottom: 1rem;
  box-shadow: 0px 0px 7px #828282;
}

.postInput-footer {
  display: flex;
  justify-content: space-between;
}
.sort-section * {
  font-size: 1.2rem;
}

.postButton {
  background-color: #06223e;
  padding: 6px;
  border: 0;
  color: #fff;
  border-radius: 6px;
  font-size: 1rem;
  width: 10%;
  cursor: pointer;
}

hr {
  display: inline-block;
  width: 48%;
}

.sort {
  font-weight: 600;
}

.postFooter {
  display: flex;
  justify-content: space-between;
}

.postActions {
  display: flex;
}
.postActions * {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.postActions *:nth-child(1) {
  margin-right: 1rem;
}

.postDate {
  font-weight: 800;
}

.profileInfo {
  max-width: 50%;
  margin-left: 130px;
}

.profileAbout {
  font-style: italic;
}

.morePostsContainer {
  display: flex;
  justify-content: center;
  width: 65%;
  margin-left: 5em;
}

.morePosts {
  background: none;
  border: none;
  width: 63%;
  margin-top: 1rem;
  cursor: pointer;
}
.navigation a,
.quick-links a {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}
